#!/bin/sh

ya pack -a yazi-rs/plugins:full-border
ya pack -a dedukun/relative-motions
ya pack -a hankertrix/augment-command
ya pack -a Rolv-Apneseth/starship
ya pack -a yazi-rs/plugins:smart-filter
ya pack -a yazi-rs/plugins:max-preview
ya pack -a yazi-rs/plugins:jump-to-char
ya pack -a yazi-rs/plugins:git

# avoid not 0 return value if plugins already installed
true
