{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# escalation privileges
sudo /bin/bash <<\EOF

    CONFIG_DIR=/home/{{ .chezmoi.username }}/.config/containerd
    CRON_JOB_FILE=/etc/cron.d/containerd-zfs-cleanup
    CONFIG_FILE=/etc/containerd/config.toml

    # make idempotent
    rm -f $CRON_JOB_FILE
    rm -f $CONFIG_FILE
    mkdir /etc/containerd

    # create necessary zfs filesystem
	zfs create -o mountpoint=/var/lib/containerd/io.containerd.snapshotter.v1.zfs rpool/containerd |& echo

    # add configuration file 
    cp $CONFIG_DIR/config.toml $CONFIG_FILE

    # cron job need to have proper permissions
    cp $CONFIG_DIR/containerd-zfs-cleanup.cron-job $CRON_JOB_FILE

    # restart service
    systemctl restart containerd

EOF

{{ end -}}