{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# escalation privileges
sudo /bin/bash <<EOF
    apt update

    ## zsh
    apt install zsh
    chsh -s /usr/bin/zsh $(echo {{ .chezmoi.username }})

    ## fd
    apt install fd-find
    ln -sf /usr/bin/fdfind /usr/local/bin/fd

    ## bat
    apt install bat
    ln -sf /usr/bin/batcat /usr/local/bin/bat

    ## fzf
    apt install fzf

    ## exa
    apt install exa

    ## zoxide
    apt install zoxide

    ## tldr
    apt install tldr

    ## fonts-firacode
    apt install fonts-firacode

    ## pyznap
    apt install python3-venv
    apt install python3

    # remove existing installation
    rm -r /opt/pyznap
    rm -f /usr/local/bin/pyznap

    # install
    mkdir /opt/pyznap
    python3 -m venv /opt/pyznap
    source /opt/pyznap/bin/activate
    pip install pyznap
    deactivate
    ln -s /opt/pyznap/bin/pyznap /usr/local/bin/pyznap
    pyznap setup
    chown root:root -R /etc/pyznap/

    ## containerd + iptables
    apt install containerd
    apt install iptables

    ## starship
    curl -sS https://starship.rs/install.sh | sh
EOF

{{ end -}}