{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file=/dev/stdin <<EOF
# CLI tools
brew "starship"
brew "trash"
brew "fd"
brew "fzf"
brew "bat"
brew "tealdeer"
brew "watch"
brew "kubernetes-cli"
brew "helm"
brew "zoxide"
brew "exa"
brew "gitui"
brew "k9s"
brew "the_silver_searcher"
brew "fx"
brew "thefuck"
brew "yank"
brew "sshuttle"

# fonts
cask "font-fira-code"
cask "font-hack-nerd-font"

# python
brew "python"
brew "pyenv"
brew "poetry"
EOF
{{ end -}}