{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.hostname "mail"))  -}}
#!/bin/sh

# escalation privileges
sudo /bin/bash <<EOF
    apt update

    ## zsh
    apt install -y zsh
    chsh -s /usr/bin/zsh $(echo {{ .chezmoi.username }})

    ## fd
    apt install -y fd-find
    ln -sf /usr/bin/fdfind /usr/local/bin/fd

    ## bat
    apt install -y bat
    ln -sf /usr/bin/batcat /usr/local/bin/bat

    ## fzf
    apt install -y fzf

    ## eza
    wget -qO- https://raw.githubusercontent.com/eza-community/eza/main/deb.asc | sudo tee /etc/apt/trusted.gpg.d/gierens.asc
    echo "deb http://deb.gierens.de stable main" | sudo tee /etc/apt/sources.list.d/gierens.list
    sudo apt update
    sudo apt install -y eza

    ## zoxide
    apt install -y zoxide

    ## tldr
    apt install -y tldr

    ## fonts-firacode
    apt install -y fonts-firacode

    ## fail2ban
    apt install -y iptables
    apt install -y fail2ban

    ## starship
    curl -sS https://starship.rs/install.sh | sh
EOF

{{ end -}}