#!/bin/sh

ya pack --add yazi-rs/plugins:full-border
ya pack --add dedukun/relative-motions
ya pack --add hankertrix/augment-command
ya pack --add Rolv-Apneseth/starship
ya pack --add yazi-rs/plugins:smart-filter
ya pack --add yazi-rs/plugins:max-preview
ya pack --add yazi-rs/plugins:jump-to-char
ya pack --add yazi-rs/plugins:git

# avoid not 0 return value if plugins already installed
true
