{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh

# download repo if it does not exists
if [ ! -d ~/code/private/utils/ ]; then
	git clone git@github.com:se-jaeger/utils.git ~/code/private/utils/
fi

# update repo and install utils
cd ~/code/private/utils
git fetch
git pull
cargo install --path rust/zet/
cargo install --path rust/motd/

# install tools via brew
brew bundle --no-lock --file=/dev/stdin <<EOF
## Utils
brew "coreutils"

## CLI tools
brew "zellij"
brew "yazi"
brew "sevenzip"
brew "poppler"
brew "starship"
brew "trash"
brew "fd"
brew "fzf"
brew "bat"
brew "viddy"
brew "kubernetes-cli"
brew "helm"
brew "zoxide"
brew "eza"
brew "gitui"
brew "k9s"
brew "ripgrep"
brew "csvlens"
brew "fx"
brew "jq"
brew "jless"
brew "yank"
brew "up"
brew "go"
brew "hugo"
brew "bitwarden-cli"
brew "gnupg"
brew "git-delta"
brew "tealdeer"

tap "fluxcd/tap"
brew "fluxcd/tap/flux"

### VPN
brew "openfortivpn"

## fonts
tap "homebrew/cask-fonts"
cask "font-hack-nerd-font"

## python
brew "python"
brew "pyenv"
brew "poetry"
brew "uv"
brew "ruff"
brew "pyright"
brew "pylyzer"

## Apps
# Productivity
cask "raycast"
cask "alacritty"
cask "obsidian"
cask "omnifocus"
cask "zotero"
cask "nextcloud"

# Messaging
cask "rocket-chat"

# Editors
cask "basictex"
cask "tex-live-utility"
cask "texstudio"
brew "nvim"
brew "helix"

# Finance
cask "moneymoney"
cask "portfolioperformance"

# Misc
cask "spotify"
cask "appcleaner"
cask "iina"
cask "monitorcontrol"
cask "inkscape"
cask "tableplus"
cask "zoom"
cask "brave-browser"
cask "librewolf"
brew "npm"

EOF
{{ end -}}
