#!/bin/sh

ya pkg add yazi-rs/plugins:full-border
# ya pkg add hankertrix/augment-command
ya pkg add Rolv-Apneseth/starship
ya pkg add matt-dong-123/gruvbox-material

# avoid not 0 return value if plugins already installed
true
