{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

brew bundle --no-lock --file=/dev/stdin <<EOF

## CLI tools
brew "starship"
brew "trash"
brew "fd"
brew "sk"
brew "bat"
brew "tealdeer"
brew "viddy"
brew "kubernetes-cli"
brew "helm"
brew "zoxide"
brew "exa"
brew "gitui"
brew "k9s"
brew "ripgrep"
brew "fx"
brew "jq"
brew "thefuck"
brew "yank"
brew "sshuttle"
brew "up"
brew "wtfutil"
brew "hugo"
brew "mackup"
brew "tesseract"
brew "tesseract-lang"

## fonts
cask "font-fira-code"
cask "font-hack-nerd-font"

## python
brew "python"
brew "pyenv"
brew "poetry"

## Apps
# Productivity
brew "raycast"
brew "iterm2"
brew "obsidian"
brew "omnifocus"
brew "zotero"
brew "bitwarden"

# Messaging
brew "rocket-chat"

# Editors
brew "vscodium"
brew "basictex"
brew "tex-live-utility"
brew "texstudio"

# Finance
brew "moneymoney"
brew "portfolioperformance"

# Misc
brew "spotify"
brew "appcleaner"
brew "iina"
brew "monitorcontrol"
brew "inkscape"
brew "tableplus"
brew "zoom"
brew "brave-browser"

EOF

brew services restart tor
{{ end -}}