{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

# escalate privileges
sudo /bin/bash <<EOF
    apt update
    apt install --yes libssl-dev openssl pkg-config build-essential

    ## fail2ban
    apt install --yes iptables
    apt install --yes fail2ban
EOF
{{ end -}}
