{{ if and (eq .chezmoi.os "linux") (not (or (eq .chezmoi.hostname "mail") (eq .chezmoi.hostname "homeserver"))) -}}
#!/bin/sh

## Python
# pyenv
curl https://pyenv.run | bash

# poetry
curl -sSL https://install.python-poetry.org | python3 -
{{ end -}}