LICENSE
README.md

{{ if (or (eq .chezmoi.hostname "mail") (eq .chezmoi.hostname "homeserver")) -}}
# only on machines used for programming
.config/nvim/lua/plugins/python.lua
{{ end -}}

{{ if not (eq .chezmoi.os "darwin") -}}
# only on MacBook
Library
.config/alacritty
.config/nvim/lua/plugins/rust.lua
.config/nvim/lua/plugins/obsidian.lua
.config/nvim/lua/plugins/codecompenion.lua
.config/motd/config.toml
.config/helix
{{ end -}}

{{ if not (eq .chezmoi.hostname "homeserver") -}}
# only on homeserver
.config/motd-update
.config/yt-dlp.conf
{{ end -}}
