{{ if eq .chezmoi.os "darwin" -}}
# Color Themes for Alacritty
[".config/alacritty/themes/gruvbox-material.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/master/themes/gruvbox_material.toml"
refreshPeriod = "168h"
{{- end }}
