LICENSE
README.md

{{ if (or (eq .chezmoi.hostname "mail") (eq .chezmoi.hostname "homeserver")) -}}
# only on machines used for programming
.config/fish/functions/python_lint.fish
.config/fish/functions/python_format.fish
.config/fish/conf.d/auto-activate-venv.fish
{{ end -}}

{{ if not (eq .chezmoi.os "darwin") -}}
# only on MacBook
.config/alacritty
.config/ghostty
.config/aerospace
.config/zk
{{ end -}}

{{ if not (eq .chezmoi.hostname "homeserver") -}}
# only on homeserver
.config/yt-dlp.conf
{{ end -}}
