[".local/share/zsh/plugins/zsh-syntax-highlighting"]
type = "archive"
url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".local/share/zsh/plugins/zsh-activate-py-environment"]
type = "archive"
url = "https://github.com/se-jaeger/zsh-activate-py-environment/archive/main.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".local/share/zsh/plugins/zsh-autosuggestions"]
type = "archive"
url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".local/share/zsh/plugins/zsh-autocomplete"]
type = "archive"
url = "https://github.com/marlonrichert/zsh-autocomplete/archive/main.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

[".local/share/tmux/plugins/tpm"]
type = "archive"
url = "https://github.com/tmux-plugins/tpm/archive/master.tar.gz"
exact = true
stripComponents = 1
refreshPeriod = "168h"

{{ if eq .chezmoi.os "darwin" -}}
# Color Themes for Alacritty
[".config/alacritty/themes/catppuccin-latte.toml"]
type = "file"
url = "https://github.com/catppuccin/alacritty/raw/main/catppuccin-latte.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/catppuccin-frappe.toml"]
type = "file"
url = "https://github.com/catppuccin/alacritty/raw/main/catppuccin-frappe.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/catppuccin-macchiato.toml"]
type = "file"
url = "https://github.com/catppuccin/alacritty/raw/main/catppuccin-macchiato.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/catppuccin-mocha.toml"]
type = "file"
url = "https://github.com/catppuccin/alacritty/raw/main/catppuccin-mocha.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/gruvbox-dark.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/master/themes/gruvbox_dark.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/gruvbox-light.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/master/themes/gruvbox_light.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/gruvbox-material.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/master/themes/gruvbox_material.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/gruvbox-material-hard-dark.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/master/themes/gruvbox_material_hard_dark.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/gruvbox-material-hard-light.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/master/themes/gruvbox_material_hard_light.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/gruvbox-material-medium-light.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/master/themes/gruvbox_material_medium_light.toml"
refreshPeriod = "168h"

[".config/alacritty/themes/gruvbox-material-medium-dark.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/master/themes/gruvbox_material_medium_dark.toml"
refreshPeriod = "168h"
{{- end }}
