{{ if eq .chezmoi.os "darwin" -}}
# Color Themes for Alacritty
[".config/alacritty/themes/gruvbox-dark.toml"]
type = "file"
url = "https://raw.githubusercontent.com/alacritty/alacritty-theme/refs/heads/master/themes/gruvbox_dark.toml"
refreshPeriod = "168h"
{{- end }}
