[[language]]
name = "python"
language-servers = ["ty", "ruff", "codebook", "harper-ls"]
auto-format = true

[language.formatter]
command = "sh"
args = [
    "-c",
    # We typically do both fix linting issues and format
    "ruff check --fix - | ruff format -",
]

[[language]]
name = "text"
scope = ""
file-types = ["txt"]
language-servers = ["harper-ls"]

[[language]]
name = "git-commit"
language-servers = ["codebook", "harper-ls"]

[[language]]
name = "jjdescription"
language-servers = ["codebook", "harper-ls"]

[[language]]
name = "markdown"
language-servers = ["zettelkasten", "harper-ls"]
auto-format = true
formatter = { command = "dprint", args = ["fmt", "--config", "~/.config/dprint/dprint.json", "--stdin", "md"] }

[[language]]
name = "rust"
language-servers = ["rust-analyzer", "codebook", "harper-ls"]

[[language]]
name = "toml"
language-servers = ["taplo", "codebook", "harper-ls"]
auto-format = true
formatter = { command = "dprint", args = ["fmt", "--config", "~/.config/dprint/dprint.json", "--stdin", "toml"] }

[[language]]
name = "latex"
language-servers = ["texlab", "codebook"]

[[language]]
name = "yaml"
language-servers = ["codebook", "harper-ls"]
auto-format = true
formatter = { command = "dprint", args = ["fmt", "--config", "~/.config/dprint/dprint.json", "--stdin", "yaml"] }

[[language]]
name = "json"
auto-format = true
formatter = { command = "dprint", args = ["fmt", "--config", "~/.config/dprint/dprint.json", "--stdin", "json"] }

[[language]]
name = "dockerfile"
language-servers = ["codebook", "harper-ls"]
auto-format = true
formatter = { command = "dprint", args = ["fmt", "--config", "~/.config/dprint/dprint.json", "--stdin", "dockerfile"] }

#########################
# Setup additional LSPs #
[language-server.ty.config.experimental]
autoImport = true
rename = true

[language-server.texlab.config.texlab]
formatterLineLength = 160

[language-server.zettelkasten]
command = "zk"
args = ["lsp"]

[language-server.harper-ls.config.harper-ls]
userDictPath = "~/.config/harper-ls/dictionary.txt"
fileDictPath = "~/.local/share/harper-ls/file_dictionaries"

[language-server.harper-ls.config.harper-ls.linters]
BoringWords = true
LinkingVerbs = true
UseGenitive = true
SpelledNumbers = true

[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.codebook]
command = "codebook-lsp"
args = ["serve"]
