layout {
    default_tab_template {
        pane size=2 borderless=true {
            plugin location="zjstatus"
        }
        children
    }
    tab name="MOTD" {
        pane {
             command "$HOME/.cargo/bin/motd"
        }
    }
{{ if eq .chezmoi.os "darwin" -}}
    tab name="Journaling" {
        pane {
            command "$HOME/.cargo/bin/zet"
            args "--second-brain" "~/Library/Mobile Documents/iCloud~md~obsidian/Documents/second-brain" "daily"
        }
    }
{{- end }}
    tab focus=true {
        pane focus=true
    }
}
