layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="MOTD" {
        pane {
             command "$HOME/.cargo/bin/motd"
        }
    }
{{ if eq .chezmoi.os "darwin" }}
    tab name="Zettelkasten" {
        pane {
            command "zet"
        }
    }
{{- end }}
    tab focus=true {
        pane focus=true
    }
}
