[core]
fsmonitor = "watchman"
watchman.register-snapshot-trigger = true

[user]
name = "Sebastian Jäger"
email = "github@sebastian-jaeger.me"

[ui]
default-command = ["log"]
show-cryptographic-signatures = true

{{ if eq .chezmoi.os "darwin" -}}
[signing]
behavior = "own"
backend = "gpg"
{{ end }}

[templates]
git_push_bookmark = '"se-jaeger/push-" ++ change_id.short()'

[revsets]
log = "present(@) | ancestors(builtin_immutable_heads().., 2) | present(trunk())"
 
[revset-aliases]
"stragglers()" = '(visible_heads() & mine()) ~ trunk()'
"immutable_heads()" = "builtin_immutable_heads() | (trunk().. & ~mine())"

[aliases]
sync = ['git', 'fetch', '--all-remotes']
evolve = ['rebase', '--skip-emptied', '--destination', 'trunk()']
pullup = ['evolve', '--source', 'all:stragglers()']
push = ['git', 'push', '--all']

[template-aliases]
'format_short_signature(signature)' = 'coalesce(signature.name(), email_placeholder)'
'format_short_id(id)' = 'id.shortest()'
prompt = '''
  separate(
    " ",
    change_id.shortest(4),
    if(! empty, ">"),
    if(! empty, 
        "[" ++ raw_escape_sequence("\x1b[1;34m") ++ diff.files().len() ++ " "
        ++ raw_escape_sequence("\x1b[1;32m") ++ "+" ++ diff.stat().total_added()
        ++ raw_escape_sequence("\x1b[1;31m") ++ "-" ++ diff.stat().total_removed()
        ++ raw_escape_sequence("\x1b[0m")
        ++ "]"
    ),
    if(bookmarks.len() > 0, ">"),
    bookmarks,
    if(conflict || divergent || hidden || immutable, ">"),
    concat(
      if(conflict, "💥"),
      if(divergent, "🚧"),
      if(hidden, "👻"),
      if(immutable, "🔒"),
    ),
    if(description.len() > 0, ">"),
    if(description.len() > 0, concat(
        raw_escape_sequence("\x1b[1;32m"), 
        '"',
        truncate_end(29, description.first_line(), "…"),
        '"',
        raw_escape_sequence("\x1b[0m"),
      )
    ),
  )
'''
