#:schema https://docs.jj-vcs.dev/latest/config-schema.json
 
[fsmonitor]
backend = "watchman"
watchman.register-snapshot-trigger = true

[user]
name = "Sebastian Jäger"
email = "git@sebastian-jaeger.me"

[ui]
default-command = ["log", "--reversed"]
diff-formatter = ["difft", "--color=always", "$left", "$right"]
show-cryptographic-signatures = true

{{ if eq .chezmoi.os "darwin" -}}
[signing]
behavior = "own"
backend = "gpg"
{{ end }}

[templates]
git_push_bookmark = '"se-jaeger/push-" ++ change_id.short()'
commit_trailers = "format_signed_off_by_trailer(self)"
# Shows also which files changed in working directory (or nothing)
log = '''builtin_log_oneline ++ if(
  self.current_working_copy() && !self.empty(),
  "Working copy changes:" ++ indent(
    "  ",
    self.diff().files().map(|file| label("diff " ++ file.status(), "\n" ++ file.status_char() ++ " " ++ file.path()))
  )
)
'''

[revsets]
log = "present(@) | ancestors(immutable_heads().., 2) | trunk() | bookmarks()"

[revset-aliases]
wip = "description(regex-i:'^WIP.*')"
empty_desc = "description(exact:'')"
megamerge = "description(substring-i:'megamerge') | description(substring-i:'mega merge')"
"closest_pushable(to)" = "heads(::to & mutable() & ~(wip | empty_desc | megamerge) & (~empty() | merges()))"
"immutable_heads()" = "builtin_immutable_heads() | (trunk().. & ~mine())"


[aliases]
sync = ["git", "fetch", "--all-remotes"]
push = ["git", "push", "--all"]
tug = ["bookmark", "move", "--from", "heads(::@ & bookmarks())", "--to", "closest_pushable(@)",]
pullup = ["rebase", "--revision", "heads(closest_pushable(@)..) & mutable()", "--onto", "closest_pushable(@)",]
rebaseall = ["rebase", "--source", "roots(trunk()..mutable())", "--onto", "trunk()"]
l = ["log", "--reversed", "--revision", "::@", "--limit", "10"]
ll = ["log", "--reversed", "--revision", "::@", "--limit", "20"]
lll = ["log", "--reversed", "--revision", "::@", "--limit", "40"]

[template-aliases]
"format_short_signature(signature)" = "coalesce(signature.name(), email_placeholder)"
"format_short_signature_oneline(signature)" = "coalesce(signature.name(), email_placeholder)"
"format_short_id(id)" = "id.shortest(4)"
prompt = '''
  separate(
    " ",
    change_id.shortest(4),
    if(! empty, ">"),
    if(! empty, 
        "[" ++ raw_escape_sequence("\x1b[1;34m") ++ diff.files().len() ++ " "
        ++ raw_escape_sequence("\x1b[1;32m") ++ "+" ++ diff.stat().total_added()
        ++ raw_escape_sequence("\x1b[1;31m") ++ "-" ++ diff.stat().total_removed()
        ++ raw_escape_sequence("\x1b[0m")
        ++ "]"
    ),
    if(bookmarks.len() > 0, ">"),
    bookmarks,
    if(conflict || divergent || hidden || immutable, ">"),
    concat(
      if(conflict, "💥"),
      if(divergent, "🚧"),
      if(hidden, "👻"),
      if(immutable, "🔒"),
    ),
    if(description.len() > 0, ">"),
    if(description.len() > 0, concat(
        raw_escape_sequence("\x1b[1;32m"), 
        '"',
        truncate_end(29, description.first_line(), "…"),
        '"',
        raw_escape_sequence("\x1b[0m"),
      )
    ),
  )
'''
